<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${product.productName}]]</title>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div>
        <a th:href="@{/home/{userId} (userId=${user.id})}">Home</a>
    </div>
    <div>
        <a th:href="@{/products/{userId} (userId = ${user.id})}">Products</a>
    </div>
    <div>
        <a th:href="@{/recipes/{userId}/home (userId = ${user.id})}">Recipes</a>
    </div>
    <div>
        <a th:href="@{/inventory/{userId}/home (userId = ${user.id})}">Inventory</a>
    </div>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</nav>
<!--Display Product Information-->
<section>
    <div>
        <h1 th:text="${product.productName}"></h1>
        <form method="post" th:action="@{/products/{productId}/delete (productId=${product.productId})}">
            <button type="submit">Delete Product</button>
        </form>
        <form method="post" th:action="@{'/products/' + ${product.productId} + '/setdefaultrecipe'}">
            <div>
                <label>Select Default Recipe:</label>
                <select th:field="*{recipeDTO.defaultRecipeId}" required>
                    <option th:each="rec: ${product.recipes}"
                            th:value="${rec.recipeId}"
                            th:text="${rec.recipeName}"
                    >
                    </option>
                </select>
            </div>
            <div>
                <input type="submit" value="Set Default Recipe"/>
            </div>
        </form>
        <hr>
        <h3>Recipes</h3>
        <button id="create-recipe-open" th:href="@{/recipes/{productId}/create (productId = ${product.productId})}">Add
            a recipe
        </button>
        <div th:if="${product.defaultRecipeId != null}">
            <span>Default Recipe: [[${defaultRecipe.recipeName}]]</span>
        </div>
        <div th:if="${#lists.size(product.recipes) > 0}">
            <table>
                <tr>
                    <th>Recipe Name</th>
                </tr>
                <tr th:each="rec : ${product.recipes}">
                    <td><a th:text="${rec.recipeName}"
                           th:href="@{/recipes/{productId}/{recipeId} (productId=${product.productId}, recipeId=${rec.recipeId})}"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<!--Modals Section-->
<section>
    <div class="create-modal-container" id="create-modal-container">
        <div class="create-modal">
            <h2>New Recipe</h2>
            <form method="post"
                  th:action="@{/recipes/{productId}/create (productId=${product.productId})}">
                <div>
                    <label>Recipe Name:</label>
                    <input type="text" th:field="${recipe.recipeName}"/>
                </div>
                <div>
                    <button type="submit" id="create-modal-close">Create Recipe</button>
                </div>
            </form>
            <button id="close-create-modal">Cancel</button>
        </div>
    </div>
</section>
<script src="/js/productCreate.js"></script>
</body>
</html>