<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create A New Product</title>
</head>
<body>
<h1>Create A New Product</h1>
<form th:if="${product.productId == null}" method="post" action="">
    <div>
        <label>Product Name:</label>
        <input type="text" th:field="${product.productName}">
    </div>
    <div>
        <input type="submit" value="Create Product">
    </div>
</form>
<div th:unless="${product.productId == null}">
    <h1 th:text="${product.productName}"></h1>
    <h3>Recipes</h3>
    <a th:href="@{/recipes/{productId}/create (productId = ${product.productId})}"></a>
    <div th:if="${#lists.size(product.recipes) > 0}">
        <div th:each="recipe : ${product.recipes}">
            <span th:text="${recipe.recipeName}"></span>
        </div>
    </div>
</div>

<!--<script src="/js/product-create.js"></script>-->
</body>
</html>