<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Home</title>
</head>
<body>
<nav>
    <div>
        <a href="">Batches</a>
    </div>
    <div>
        <a href="">Recipes</a>
    </div>
    <div>
        <a href="">Inventory</a>
    </div>
</nav>
<h1>products home page</h1>
<div>
    <a th:href="@{/products/{userId}/create (userId=${user.id})}">Add A New Product</a>
<!--    <a th:href="@{/products/{userId} (userId = ${user.id})}">-->
</div>

<div th:if="${#lists.size(products) > 0}">
    <div th:each="product : ${products}">
        <span th:text="${product.productName}"></span>
    </div>
</div>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>