<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Home</title>
</head>
<body>
<nav>
    <div>
        <a href="">Batches</a>
    </div>
    <div>
        <a href="">Inventory</a>
    </div>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</nav>
<h1>products home page</h1>
<div>
    <a th:href="@{/products/{userId}/create (userId=${user.id})}">Add A New Product</a>
<!--    <a th:href="@{/products/{userId} (userId = ${user.id})}">-->
</div>

<div th:if="${#lists.size(products) > 0}">
    <table>
        <tr>
            <th>Product</th>
        </tr>
        <tr th:each="product :${products}">
            <td><a th:text="${product.productName}" th:href="@{/products/{userId}/{productId}
            (userId = ${user.id}, productId=${product.productId})}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>