<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[product.productName]] New Recipe</title>
</head>
<body>
<nav>
    <div>
        <a href="">Batches</a>
    </div>
    <div>
        <a th:href="@{/products/{userId} (userId = ${user.id})}">Products</a>
    </div>
    <div>
        <a href="">Recipes</a>
    </div>
    <div>
        <a href="">Inventory</a>
    </div>
</nav>
<h1>Create A new Recipe!</h1>
<form method="post" action="">
    <div>
        <label>Recipe Name:</label>
        <input type="text" th:field="${recipe.recipeName}">
    </div>
    <div>
        <label>Ingredient Name:</label>
        <select th:field="${ingredients}">
            <option value="test1">Test 1</option>
            <option value="test2">Test 2</option>
            <option th:each="ingredient : ${ingredients}" th:value="${ingredient.ingredientName}" th:field="${recipe.ingredients.add(ingredient)}"></option>
        </select>
    </div>
    <div>
        <input type="submit" value="Create Recipe"/>
    </div>
</form>
<a th:href="@{/inventory/create}">Add Ingredient to Inventory</a>
</body>
</html>