<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${recipe.recipeName}]]</title>
    <link rel="stylesheet" type="text/css" href="/css/recipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0fe1471627.js" crossorigin="anonymous"></script>
</head>
<body>
<nav>
    <div>
        <a th:href="@{/home/{userId} (userId=${user.id})}">Home</a>
    </div>
    <div>
        <a th:href="@{/products/{userId} (userId = ${user.id})}">Products</a>
    </div>
    <div>
        <a th:href="@{/recipes/{userId}/home (userId = ${user.id})}">Recipes</a>
    </div>
    <div>
        <a th:href="@{/inventory/{userId}/home (userId = ${user.id})}">Inventory</a>
    </div>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</nav>
<section>

    <div>
        <h1 th:text="${recipe.recipeName}"></h1>
        <span>Product:</span>
        <span><a th:href="@{/products/{userId}/{productId}(userId=${user.id}, productId=${product.productId})}"
                 th:text="${product.productName}"></a></span>
        <a th:href="@{/products/{userId}/{productId} (userId=${user.id} ,productId=${product.productId})}">
            <button>Back to Product</button>
        </a>
        <form method="post" th:action="@{/recipes/{productId}/{recipeId}/delete
              (productId=${product.productId}, recipeId=${recipe.recipeId})}">
            <input type="submit" value="Delete Recipe">
        </form>
    </div>
</section>

<section>
    <hr>
    <form method="post" action="">
        <div>
            <label>Recipe Name:</label>
            <input type="text" th:field="${recipe.recipeName}">
        </div>
        <div>
            <input type="submit" value="Update Recipe Information"/>
        </div>
    </form>
    <h2>Ingredients</h2>
    <button type="button" id="modal-add-open">Add Ingredient</button>
    <table>
        <tr>
            <th>Ingredient</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Units</th>
        </tr>
        <tr th:each="entry : ${ingredientAmountMap}">
            <td><a th:text="${entry.key.ingredientName}"
                   th:href="@{/inventory/{userId}/{ingredientId}(userId=${user.id}, ingredientId=${entry.getKey().ingredientId})}"></a>
            </td>
            <td th:text="${entry.key.ingredientType}"></td>
            <td th:text="${entry.value}"></td>
            <td th:text="${entry.key.unitOfMeasurement}"></td>
            <td>
                <form method="post" th:action="@{/recipes/{recipeId}/{ingredientId}/deleteingredient (recipeId=${recipe.recipeId},
                ingredientId=${entry.getKey().ingredientId})}">
                    <button type="submit">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
    </table>
</section>
<!--Modals Section-->
<section>
    <div class="create-modal-container" id="create-modal-container">
        <div class="create-modal">
            <h2>Add Ingredient To Recipe</h2>
            <form th:action="@{/recipes/{recipeId}/addingredient (recipeId=${recipe.recipeId})}" method="post">
                <select th:field="*{recipeDTO.ingredientId}" required>
                    <option th:each="ingred : ${ingredients}"
                            th:value="*{ingred.ingredientId}"
                            th:text="${ingred.ingredientName}"
                    ></option>
                </select>
                <div>
                    <label>Amount:</label>
                    <input type="number" th:field="*{recipeDTO.amount}"/>
                </div>
                <div>
                    <button type="submit" id="create-modal-close">Add Ingredient</button>
                </div>
            </form>
            <button id="close-create-modal">Cancel</button>
        </div>
    </div>
</section>
<script src="/js/recipe.js"></script>
</body>
</html>