<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Ingredient to Inventory</title>
</head>
<body>
<h1>Add New Ingredient</h1>
<form method="post" action="">
    <div>
        <label>Ingredient Name:</label>
        <input type="text" th:field="${ingredient.ingredientName}">
    </div>
    <div>
        <label>Ingredient Type:</label>
        <select th:field="*{ingredient.ingredientType}">
            <option th:each="type : ${T(com.coderscampus.brewDayApp.domain.Ingredient.ingredientType).values()}" th:value="${type}" th:text="${type}">
            </option>
        </select>
    </div>
    <div>
        <label>Amount In Stock:</label>
        <input type="number" th:field="${ingredient.amountInStock}">
    </div>
    <div>
        <label>Unit of Measurement:</label>
        <select th:field="*{ingredient.unitOfMeasurement}">
            <option th:each="unit : ${T(com.coderscampus.brewDayApp.domain.Ingredient.unitOfMeasurement).values()}" th:value="${unit}" th:text="${unit}">
            </option>
        </select>
    </div>
    <div th:if="${ingredient.ingredientId} == null">
        <input type="submit" value="Save Ingredient"/>
    </div>
    <div th:unless="${ingredient.ingredientId} == null">
        <input type="submit" value="Update Ingredient"/>
    </div>
</form>
</body>
</html>