<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[${user.companyName}]]Dashboard</title>
    <link href="" rel="stylesheet"/>
</head>
<body>
<nav>
    <div>
        <a href="">Batches</a>
    </div>
    <div>
        <a th:href="@{/products/{userId} (userId = ${user.id})}">Products</a>
    </div>
    <div>
        <a href="">Recipes</a>
    </div>
    <div>
        <a href="">Inventory</a>
    </div>
</nav>
<h1 th:text="${user.companyName}"></h1>
<section>
    <a method="get" th:href="@{/createbatch}">Add Batch To Schedule</a>
</section>
<div th:if="${#lists.size(batches) > 0}">
    <div th:each="batch : ${batches}">
        <span th:text="${batch.batchNumber}"></span>
        <span th:text="${batch.product.productName}"></span>
    </div>
</div>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>