<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[${user.companyName}]]Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/user/user-home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0fe1471627.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar-ui">
    <div>
        <img src="../../static/images/logo-blue.png">
    </div>
    <div class="nav-element-ui">
        <a th:href="@{/home/{userId} (userId=${user.id})}" class="nav-link-ui">Home</a>
    </div>
    <div class="nav-element-ui">
        <a th:href="@{/products/{userId} (userId = ${user.id})}" class="nav-link-ui">Products</a>
    </div>
    <div class="nav-element-ui">
        <a th:href="@{/recipes/{userId}/home (userId = ${user.id})}" class="nav-link-ui">Recipes</a>
    </div>
    <div class="nav-element-ui">
        <a th:href="@{/inventory/{userId}/home (userId = ${user.id})}" class="nav-link-ui">Inventory</a>
    </div>
    <div class="nav-element-ui">
        <a th:href="@{/orders/{userId}/home (userId = ${user.id})}" class="nav-link-ui">Orders</a>
    </div>
    <div class="nav-element-ui">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</nav>
<h1 th:text="${user.companyName}"></h1>
<section>
    <div class="table-container">
        <div th:if="${#lists.size(todaysBatches) > 0}" class="table-container-ui">
            <div>
                <h2>Today's Tasks</h2>
            </div>
            <table class="table-ui">
                <tr class="table-row-ui">
                    <th>Task</th>
                    <th>Batch No.</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Product</th>
                    <th>Tank Name</th>
                    <th>No. Turns</th>
                </tr>
                <tr th:each="batch : ${todaysBatches}">
                    <td th:if="${batch.startDate} == ${currentDate}">
                        <a th:href="@{/batches/{batchId} (batchId=${batch.batchId})}">
                            <button>Start Batch</button>
                        </a>
                    </td>
                    <td th:if="${batch.endDate} == ${currentDate}">
                        <a th:href="@{/batches/{batchId} (batchId=${batch.batchId})}">
                            <button>Complete Batch</button>
                        </a>
                    </td>
                    <td><a th:text="${batch.batchNumber}"></a></td>
                    <td th:text="${batch.startDate}"></td>
                    <td th:text="${batch.endDate}"></td>
                    <td th:text="${batch.product.productName}"></td>
                    <td th:text="${batch.tankName}"></td>
                    <td th:text="${batch.numberOfTurns}"></td>

                </tr>
            </table>
        </div>
        <div class="table-container">
            <div th:if="${#lists.size(thresholdIngredients) > 0}" class="table-container-ui">
                <div>
                    <div>
                        <h2>Low Inventory Ingredients</h2>
                    </div>
                    <table class="table-ui">
                        <tr class="table-row-ui">
                            <th>Ingredient Name</th>
                            <th>Ingredient Type</th>
                            <th>Amount In Stock</th>
                            <th>Units</th>
                        </tr>
                        <tr th:each="ingred : ${thresholdIngredients}">
                            <td th:text="${ingred.ingredientName}"></td>
                            <td th:text="${ingred.ingredientType}"></td>
                            <td th:text="${ingred.amountInStock}"></td>
                            <td th:text="${ingred.unitOfMeasurement}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button id="create-modal-open">Add Batch To Schedule</button>
    </div>

    <div class="table-container">
        <div th:if="${#lists.size(batches) > 0}" class="table-container-ui">
            <table class="table-ui">
                <h2>Schedule</h2>
                <tr>
                    <th>Batch No.</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Product</th>
                    <th>Tank Name</th>
                    <th>No. Turns</th>
                    <th>Edit Batch</th>
                </tr>
                <tr th:each="batch : ${batches}">
                    <td th:text="${batch.batchNumber}"></td>
                    <td th:text="${batch.startDate}"></td>
                    <td th:text="${batch.endDate}"></td>
                    <td th:text="${batch.product.productName}"></td>
                    <td th:text="${batch.tankName}"></td>
                    <td th:text="${batch.numberOfTurns}"></td>
                    <td><a th:href="@{/batches/{batchId} (batchId=${batch.batchId})}"><i class="fa-solid fa-square-pen"></i></a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<!--Create Batch Modal-->
<section>
    <div class="create-modal-container" id="create-modal-container">
        <div class="create-modal">
            <h2>New Batch</h2>
            <form method="post" th:action="@{/batches/{userId}/create (userId=${user.id})}">
                <div>
                    <label>Batch Number:</label>
                    <input type="number" th:field="${batch.batchNumber}" required>
                </div>
                <div>
                    <label>Batch Start Date:</label>
                    <input type="date" th:field="${batch.startDate}">
                </div>
                <div>
                    <label>Batch End Date:</label>
                    <input type="date" th:field="${batch.endDate}">
                </div>
                <div>
                    <label>Product Brand:</label>
                    <select th:field="*{batchDTO.productId}" required>
                        <option th:each="product: ${products}"
                                th:value="${product.productId}"
                                th:text="${product.productName}"
                        ></option>
                    </select>
                </div>
                <div>
                    <label>Tank/Vessel:</label>
                    <input type="text" th:field="${batch.tankName}">
                </div>
                <div>
                    <label>Number of Turns:</label>
                    <input type="number" th:field="${batch.numberOfTurns}">
                </div>
                <div>
                    <button type="submit" id="create-modal-close">Add Batch To Schedule</button>
                </div>
            </form>
            <button id="close-create-modal">Cancel</button>
        </div>
    </div>
</section>
<script src="/js/productHome.js"></script>
</body>
</html>