<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>[[${user.companyName}]]Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div>
        <a href="th:">Batches</a>
    </div>
    <div>
        <a th:href="@{/products/{userId} (userId = ${user.id})}">Products</a>
    </div>
    <div>
        <a th:href="@{/recipes/{userId}/home (userId = ${user.id})}">Recipes</a>
    </div>
    <div>
        <a th:href="@{/inventory/{userId}/home (userId = ${user.id})}">Inventory</a>
    </div>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</nav>
<h1 th:text="${user.companyName}"></h1>
<section>
    <div>
        <button id="create-modal-open">Add Batch To Schedule</button>
    </div>
    <a method="get" th:href="@{/createbatch}">Add Batch To Schedule</a>

    <div th:if="${#lists.size(batches) > 0}">
        <table>
            <tr>
                <th>Batch No.</th>
                <th>Start Date</th>
                <th>Product</th>
                <th>Tank Name</th>
                <th>No. Turns</th>
                <th>Edit Batch</th>
            </tr>
            <tr th:each="batch : ${batches}">
                <td><a th:text="${batch.batchNumber}"></a></td>
                <td th:text="${batch.startDate}"></td>
                <td th:text="${batch.product.productName}"></td>
                <td th:text="${batch.tankName}"></td>
                <td th:text="${batch.numberOfTurns}"></td>

            </tr>
        </table>
    </div>
</section>
<!--Create Batch Modal-->
<section>
    <div class="create-modal-container" id="create-modal-container">
        <div class="create-modal">
            <h2>New Batch</h2>
            <form method="post" th:action="@{/batches/{userId}/create (userId=${user.id})}">
                <div>
                    <label>Batch Number:</label>
                    <input type="number" th:field="${batch.batchNumber}">
                </div>
                <div>
                    <label>Batch Start Date:</label>
                    <input type="date" th:field="${batch.startDate}">
                </div>
                <div>
                    <label>Batch End Date:</label>
                    <input type="date" th:field="${batch.endDate}">
                </div>
                <div>
                    <label>Product Brand:</label>
                    <select th:field="*{batchDTO.productId}" required>
                        <option th:each="product: ${products}"
                                th:value="${product.productId}"
                                th:text="${product.productName}"
                        ></option>
                    </select>
                </div>
                <div>
                    <label>Tank/Vessel:</label>
                    <input type="text" th:field="${batch.tankName}">
                </div>
                <div>
                    <label>Number of Turns:</label>
                    <input type="number" th:field="${batch.numberOfTurns}">
                </div>
                <div>
                    <button type="submit" id="create-modal-close">Add Batch To Schedule</button>
                </div>
            </form>
            <button id="close-create-modal">Cancel</button>
        </div>
    </div>
</section>
<script src="/js/productHome.js"></script>
</body>
</html>