<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Batch</title>

</head>
<body>
<h1>New Batch</h1>
<form method="post" action="">
    <div>
        <label>Batch Number:</label>
        <input type="number" th:field="${batch.batchNumber}">
    </div>
    <div>
        <label>Batch Start Date:</label>
        <input type="date" th:field="${batch.startDate}">
    </div>
    <div>
        <label>Batch End Date:</label>
        <input type="date" th:field="${batch.endDate}">
    </div>
    <div>
        <label>Product Brand:</label>
        <input type="text" th:field="${batch.brand}">
    </div>
    <div>
        <label>Tank/Vessel:</label>
        <input type="number" th:field="${batch.tankName}">
    </div>
    <div>
        <label>Number of Turns:</label>
        <input type="number" th:field="${batch.tankName}">
    </div>
    <div>
        <input type="submit" value="Create New Batch">
    </div>
</form>
<a method="get" th:href="@{/dashboard/{companyId} (companyId=${company.companyId})}">Back</a>
</body>
</html>