<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Batch</title>
    <link rel="stylesheet" type="text/css" href="/css/recipe.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<nav>
    <div>
        <a th:href="@{/home/{userId} (userId=${user.id})}">Home</a>
    </div>
    <div>
        <a th:href="@{/products/{userId} (userId = ${user.id})}">Products</a>
    </div>
    <div>
        <a th:href="@{/recipes/{userId}/home (userId = ${user.id})}">Recipes</a>
    </div>
    <div>
        <a th:href="@{/inventory/{userId}/home (userId = ${user.id})}">Inventory</a>
    </div>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
</nav>
<section>
    <h2>Batch Number: [[${batch.batchNumber}]]</h2>
    <button id="modal-editbatch-open">Edit Batch</button>
    <div>
        <h3>Turns</h3>
        <div th:each="turn : ${batch.turns}">
            <form method="post" th:action="@{/turns/{turnId}/complete (turnId=${turn.turnId})}">
                <table>
                    <tr>
                        <th>Turn Number</th>
                        <th>Product</th>
                        <th>Recipe</th>
                        <th>Turn Complete</th>
                    </tr>
                    <tr>
                        <td th:text="${turn.turnNumber}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${recipe.recipeName}"></td>
                        <td th:if="${turn.turnComplete} == true">Complete</td>
                        <td th:unless="${turn.turnComplete} == true">Not Complete</td>
                        <td th:if="${turn.batch.startDate} == ${currentDate}"><input type="submit" value="Complete Turn"/></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div>
        <h3>Batch Recipe: [[${recipe.recipeName}]]</h3>
        <table>
            <tr>
                <th>Ingredient Name</th>
                <th>Ingredient Type</th>
                <th>Ingredient Amount</th>
            </tr>
            <tr th:each="entry : ${ingredientsAndAmounts}">
                <td th:text="${entry.key.ingredientName}"></td>
                <td th:text="${entry.key.ingredientType}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
        </table>
    </div>
    <hr>
    <div>
        <table>
            <tr>
                <th>Scheduled Date</th>
                <th>Product Name</th>
                <th>Recipe</th>
            </tr>
            <tr>
                <td th:text="${batch.startDate}"></td>
                <td th:text="${batch.product.productName}"></td>
                <td th:text="${recipe.recipeName}"></td>
            </tr>
        </table>
    </div>
</section>
<!--Modals Section-->
<section>
    <div class="create-modal-container" id="create-modal-container">
        <div class="create-modal">
            <h2>Edit Batch Information</h2>
            <h3>Product Brand: [[${batch.product.productName}]]</h3>
            <form th:action="@{/batches/{batchId}/update (batchId=${batch.batchId})}" method="post">
                <div>
                    <label>Batch Number:</label>
                    <input type="number" th:field="${batch.batchNumber}">
                </div>
                <div>
                    <label>Batch Start Date:</label>
                    <input type="date" th:field="${batch.startDate}">
                </div>
                <div>
                    <label>Batch End Date:</label>
                    <input type="date" th:field="${batch.endDate}">
                </div>
                <div>
                    <label>Product Recipe:</label>
                    <select th:field="${batch.selectedRecipeId}" required>
                        <option th:each="recipe: ${product.recipes}"
                                th:value="${recipe.recipeId}"
                                th:text="${recipe.recipeName}"
                        ></option>
                    </select>
                </div>
                <div>
                    <label>Tank/Vessel:</label>
                    <input type="text" th:field="${batch.tankName}">
                </div>
                <div>
                    <label>Number of Turns:</label>
                    <input type="number" th:field="${batch.numberOfTurns}">
                </div>
                <div>
                    <button type="submit" id="create-modal-close">Add Ingredient</button>
                </div>
            </form>
            <button id="close-create-modal">Cancel</button>
        </div>
    </div>
</section>
<script src="/js/startBatch.js"></script>
</body>
</html>